<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>crazy!</title>
		<script src="../js/jquery.js"></script>
		<script src="../js/angular.js"></script>
		<script src="../js/ng-grid.js"></script>
		<script src="../js/index.js"></script>
		<link rel="stylesheet" href="../css/ng-grid.css">
	</head>
	<body ng-controller="myController">
		<div class="gridStyle" ng-grid="gridOption" style="width:800px;height:300px"></div>
		<input type=button ng-click="showModal()" value="添加">
		<input type=button ng-click="deleteUser()" value="删除">
		
		<div ng-show="showOrHidden" style="width:300px;height:150px;border:1px solid blue">
			<p><span>姓名:</span><input ng-model="newUser.name" placeholder="请输入姓名"></p>
			<p><span>年龄:</span><input ng-model="newUser.age" placeholder="请输入年龄"></p>
			<p><span>性别:</span><input ng-model="newUser.gender" placeholder="请输入性别"></p>
			<p>
				<input type="button" ng-click="saveNewUser()" value="保存"/>
				<input type="button" ng-click="closeModal()" value="关闭"/>
			</p>
		</div>
	</body>
</html>