<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

       <!-- 指定扫描的资源文件路径 -->
       <context:component-scan base-package="com.zh.hibernate"/>

       <!-- 导入外部文件 -->
       <context:property-placeholder location="classpath:db.properties"></context:property-placeholder>

       <!-- 配置dataSource -->
       <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
           <property name="user" value="${jdbc.username}"></property>
           <property name="password" value="${jdbc.password}"></property>
           <property name="jdbcUrl" value="${jdbc.urlname}"></property>
           <property name="driverClass" value="${jdbc.drivername}"></property>

           <property name="maxPoolSize" value="${jdbc.maxPoolSize}"></property>
           <property name="initialPoolSize" value="${jdbc.initPoolSize}"></property>
       </bean>

       <!-- 配置Hibernate的SessionFactory 通过spring的LocalSessionFactoryBean来配置 -->
       <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
           <!-- 配置数据源属性 -->
           <property name="dataSource" ref="dataSource"></property>
           <!-- 配置hibernate的配置文件的位置及名称 -->
           <!-- <property name="configLocation" value="classpath:hibernate.cfg.xml"></property> -->

           <!-- 使用hibernateProperties属性配置hibernate的基本属性 -->
           <property name="hibernateProperties">
               <props>
                   <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
                   <prop key="hibernate.format_sql">true</prop>
                   <prop key="hibernate.show_sql">true</prop>
                   <prop key="hibernate.hbm2ddl.auto">update</prop>
               </props>
           </property>

           <!-- 配置hibernate 类映射文件的位置 可以使用通配符-->
           <property name="mappingLocations" value="classpath:com/zh/hibernate/entity/*.hbm.xml"></property>
       </bean>

       <!-- 配置spring的声明式事务 -->
       <!-- 1.0 配置事务管理器 -->
       <bean id="transaction" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
           <property name="sessionFactory" ref="sessionFactory"></property>
       </bean>
       <!-- 2.0 配置事务属性 需要事务管理器 -->
       <tx:advice id="txAdvice" transaction-manager="transaction">
           <tx:attributes>
               <tx:method name="*"/>
           </tx:attributes>
       </tx:advice>

       <!-- 3.0 配置事务切点 并把切点和事务属性关联起来 -->
       <aop:config>
           <aop:pointcut id="txPoint" expression="execution(* com.zh.hibernate.*.*.*(..))"></aop:pointcut>
           <aop:advisor advice-ref="txAdvice" pointcut-ref="txPoint"/>
       </aop:config>

</beans>